{% from "_macros/links" import primaryNavigationLink %}

{% set headerNavigation = craft.entries().section('headerNavigation').one() %}
{% set primaryNavigationLinks = headerNavigation.navigationLinks.collect() %}

<header id="header">
  <div class="container flex justify-between mx-auto p-4">
    <div>
      <a href="{{ siteUrl }}">{{ siteName }}</a>
    </div>

    {% if primaryNavigationLinks | length %}
      <nav aria-labelledby="primary-nav-label" data-nav-container>
        <button class="md:hidden relative z-30" data-nav-trigger data-nav-dismiss-label="{{ 'Close'|t }}">{{ 'Menu'|t }}</button>
        <span class="sr-only" id="primary-nav-label">{{ 'Primary Navigation'|t }}</span>
        {% include "_partials/primaryNavSmallViewport" with { primaryNavigationLinks: primaryNavigationLinks } only %}
        {% include "_partials/primaryNavWideViewport" with { primaryNavigationLinks: primaryNavigationLinks } only %}
      </nav>
    {% endif %}
  </div>
</header>
